<div class="card">
    <a [routerLink]="'/blog/post/' + postData.id" class="post-image" *ngIf="postData.thumbnail">
        <img src={{postData.thumbnail}} alt="Thumbnail image for blog post: {{postData.title}}" />
    </a>
    <span class="spinner" *ngIf="!postData.thumbnail">
        <app-artwork-spinner></app-artwork-spinner>
    </span>
    <div class="card-caption" (click)="openBlogPost()">
        <div class="card-title">
            <a class="blog-title" [routerLink]="'/blog/post/' + postData.id">{{postData.title}}</a>
            <span class="publish-date">{{postData.publishDate | date:'mediumDate'}}</span>
        </div>
        <div class="card-description" [innerHtml]="postData.description">
        </div>
        <div class="card-footer">
            <a [routerLink]="'/blog/post/' + postData.id" class="read-more"> Read More...</a>
        </div>
    </div>
</div>
