// colors
$dark-body-color: #111;
$base-body-color: #444;
$light-body-color: #595959;
$lighter-body-color: #888;

$active-color: #9055a2;
$border-color: #e1e1e1;

$light-bg-color: rgba(255,255,255, 1);
$accent-bg-color: #f9f9f9;

// nav
$nav-hover-border-color: #646464;
$nav-hover-bg-color: #f3f3f3;
$nav-logo-text: #c84c36;

$box-shadow-high: #646464;
$box-shadow-low: #464646;
$btn-box-shadow-high: #828282;
$btn-box-shadow-low: #464646;

// buttons
$default-btn-color: #6f6f6f;
$highlight-btn-color: #c84c36;
$highlight-btn-txt-color: #fff;

// text
$link-text-color: #646464;
$base-text-color: #363636;
$header-text-color: #363636;
$error-text-color: #f80303;
$success-text-color: #008e1d;
$title-text-color: #c84c36;
$footer-links-color: #c84c36;
$sold-art-color: #ff0000;
$light-grey-color: #e1e1e1;

// sizes
$min-menu-size: 750px;
$min-width-small: 320px;
$min-width-medium: 800px;
$min-width-large: 1000px;

$mobile-width: 550px;

$max-menu-size: 750px;
$max-width-small: 320px;
$max-width-medium: 800px;
$max-width-large: 1200px;

