<div class="card">
    <a [routerLink]="'/artist/' + artist.id" class="card-image" *ngIf="artist.thumbnail">
        <img src={{artist.thumbnail}} alt="Thumbnail image of artist: {{artist.name}}"/>
    </a>
    <span class="spinner" *ngIf="!artist.thumbnail">
        <app-artwork-spinner></app-artwork-spinner>
    </span>
    <div class="card-caption">
        <h6 class="card-title">
            <a [routerLink]="'/artist/' + artist.id">{{artist.name}}</a>
        </h6>
        <div class="card-description" [innerHtml]="artistBiography()">
        </div>
        <a [routerLink]="'/artist/' + artist.id" class="more">more...</a>
        <div class="card-footer">
            <button (click)="viewArtistsArtwork()" class="card-button link">Artwork</button>
        </div>
    </div>
</div>
