<div class="overlay">
    <div class="content" *ngIf="artist !== undefined">
        <span (click)="onClose()" class="close-button"></span>
        <div *ngIf="artist.photo" class="photo-panel" >
            <span class="pattern left-pattern"></span>
            <div class="photo-box" [style.background-image]="backgroundImage()">
                <span class="corner-image top-left"></span>
                <span class="center-filler"></span>
                <span class="corner-image bottom-right"></span>
            </div>
            <span class="pattern right-pattern"></span>
        </div>
        <app-artwork-spinner class="photo" *ngIf="!artist.photo"></app-artwork-spinner>
        <div class="caption">
            <h6 class="name">
                <span>{{artist.name}}</span>
            </h6>
            <span class="underline name-underline"></span>
            <div class="biography" [innerHtml]="artist.biography">
            </div>
            <div class="footer">
                <span class="underline footer-underline"></span>
                <span (click)="viewArtistsArtwork()" class="art-button link">Artwork</span>
            </div>
        </div>
    </div>
</div>
